{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}
  Expenses
{% endblock %}

{% block head %}
{{ block.super }}
<link rel="stylesheet" href="{% static 'expenses_style.css' %}">
<script src="{% static 'expenses_app.js' %}"></script>
{% endblock %}

{% block control-tab %}
<li><a>Today</a></li>
<li><a>Calendar</a></li>
<li><a>Reports</a></li>
{% endblock %}

{% block sections %}
<section id="month-expense-calendar">
  <header class="section-header">
    <a id="new-expense-btn" class=""><i class="fa fa-plus-square-o"></i></a>
    <button id="today-expense-btn" class="right-float button2">Today</button>
    <div class="month-dropdown">
      <a class="dropdown-trigger">
        <h4>Jan, 2017</h4>
        <i class="fa fa-angle-down"></i>
      </a>
      <div class="grd-row dropdown-wrapper months">
        <a class="grd-col grd-col-6 month" data-month-num="01" onclick="selectMonth(this)">Jan</a>
        <a class="grd-col grd-col-6 month" data-month-num="02" onclick="selectMonth(this)">Feb</a>
        <a class="grd-col grd-col-6 month" data-month-num="03" onclick="selectMonth(this)">Mar</a>
        <a class="grd-col grd-col-6 month" data-month-num="04" onclick="selectMonth(this)">Apr</a>
        <a class="grd-col grd-col-6 month" data-month-num="05" onclick="selectMonth(this)">May</a>
        <a class="grd-col grd-col-6 month" data-month-num="06" onclick="selectMonth(this)">Jun</a>
        <a class="grd-col grd-col-6 month" data-month-num="07" onclick="selectMonth(this)">Jul</a>
        <a class="grd-col grd-col-6 month" data-month-num="08" onclick="selectMonth(this)">Aug</a>
        <a class="grd-col grd-col-6 month" data-month-num="09" onclick="selectMonth(this)">Sep</a>
        <a class="grd-col grd-col-6 month" data-month-num="10" onclick="selectMonth(this)">Oct</a>
        <a class="grd-col grd-col-6 month" data-month-num="11" onclick="selectMonth(this)">Nov</a>
        <a class="grd-col grd-col-6 month" data-month-num="12" onclick="selectMonth(this)">Dec</a>
      </div>
    </div>
  </header>
  <div class="section-body">
  </div>
  <footer class="section-footer">
  </footer>
</section>
{% endblock %}

{% block content %}
<!-- New Expense Modal -->
<div id="new-expense-modal" class="">
  <div class="modal-dialog">
    <header class="modal-header">
      <a class="close-modal" href="#"><i class="fa fa-close"></i></a>
      <h3 class="modal-title">Submit your expense</h3>
    </header>
    <div class="modal-body" id="new-expense-detail">
      <div id="new-expense-msg" class="container-2 hide"></div>
      <div class="" id="new-expense-date">
      </div>
      <input type="text" placeholder="Expense Title" class="" id="new-expense-title">
      <div class="container-1" id="new-expense-tag">
        <h4>Appropiate tag</h4>
        <div id="tags" data-tags="tags">
          <a class="tag" data-tag="food & beverages" onclick="selectTag(this)"><i class="fa fa-cutlery"></i></a>
          <a class="tag" data-tag="cab" onclick="selectTag(this)"><i class="fa fa-car"></i></a>
          <a class="tag" data-tag="phone" onclick="selectTag(this)"><i class="fa fa-phone"></i></a>
          <a class="tag" data-tag="house utility" onclick="selectTag(this)"><i class="fa fa-shopping-basket"></i></a>
          <a class="tag" data-tag="shopping" onclick="selectTag(this)"><i class="fa fa-shopping-bag"></i></a>
          <a class="tag" data-tag="health" onclick="selectTag(this)"><i class="fa fa-h-square"></i></a>
          <a class="tag" data-tag="education" onclick="selectTag(this)"><i class="fa fa-graduation-cap"></i></a>
          <a class="tag" data-tag="entertainment" onclick="selectTag(this)"><i class="fa fa-flash"></i></a>
          <a class="tag" data-tag="salon" onclick="selectTag(this)"><i class="fa fa-scissors"></i></a>
          <a class="tag" data-tag="laundry" onclick="selectTag(this)"><i class="fa fa-life-bouy"></i></a>
          <a class="tag" data-tag="hotel" onclick="selectTag(this)"><i class="fa fa-bed"></i></a>
          <a class="tag" data-tag="travel" onclick="selectTag(this)"><i class="fa fa-train"></i></a>
          <a class="tag" data-tag="fixed bills" onclick="selectTag(this)"><i class="fa fa-file-text"></i></a>
          <a class="tag" data-tag="others" onclick="selectTag(this)"><i class="fa fa-archive"></i></a>
        </div>
      </div>
      <input type="text" placeholder="Expense Comment" class="" id="new-expense-comment">
      <input type="number" placeholder="INR" class="input-container" id="new-expense-amount"></input>
      <button class="button2" id="new-expense-submit" onclick="postNewExpense()">Submit</button>
    </div>
    <footer class="modal-footer">
    </footer>
  </div>
</div>
{% endblock %}

{% block script %}
<script>
var show_month_expenses_url = "{% url 'show_month_expenses' %}";

var month_id = 1;

function selectTag(tag) {
  console.log("tag selected");
  $("#tags").find(".tag-active").removeClass("tag-active");
  $(tag).addClass("tag-active");
}

function selectMonth(month) {
  $(".months").find(".month-active").removeClass("month-active");
  $(month).addClass("month-active");
  $('.dropdown-wrapper').slideUp();
  var monthNumber = month.getAttribute("data-month-num");
  $(".dropdown-trigger").find("h4").html(month.innerHTML + ", 2017");
  showMonthExpCal(monthNumber);
}

function postNewExpense() {
  var date = 0;
  var title = $("#new-expense-title").val();
  var tag = $(".tag-active").data("tag");
  var comment = $("#new-expense-comment").val();
  var amount = $("#new-expense-amount").val();
  var msg_elm = $("#new-expense-msg");
  var test_passed = true;
  if (msg_elm.hasClass('container-err')) {
    msg_elm.removeClass('container-err');
  }
  if (msg_elm.hasClass("container-success")) {
    msg_elm.removeClass("container-success")
  }
  /*
  if (!date) {
    msg_elm.removeClass('hide').addClass('container-err').html("Please Select Date of Expense");
    tests_passed = false;
  }*/
  if (!title) {
    msg_elm.addClass('container-err').html("Please Enter Title of Expense").fadeIn();
    tests_passed = false;
  }
  else if (!tag) {
    msg_elm.addClass('container-err').html("Please Select Tag for Expense").fadeIn();
    tests_passed = false;
  }
  else if (!amount) {
    msg_elm.addClass('container-err').html("Please Enter Amount of Expense").fadeIn();
    tests_passed = false;
  }
  else if (test_passed) {
    $.ajax({
      type: "POST",
      url: "{% url 'post_new_expense' %}",
      data: {new_expense_date: date, new_expense_title: title, new_expense_tag: tag, new_expense_comment: comment, new_expense_amount: amount,},
      dataType: "html",
      success: function(response) {
        msg_elm.addClass('container-success').html("Your Expense Submited").fadeIn("slow");
        msg_elm.fadeOut(1000);
      },
      error: function(request, errorType, errorMessage) {
        alert("Error: " + errorType + " with message: " + errorMessage);
      },
      timeout: 3000,
      beforeSend: function(xhr) { xhr.setRequestHeader("X-CSRFToken", "{{ csrf_token }}"); },
      complete: function() {
        $("#new-expense-title").val('');
        $("#tags").find(".tag-active").removeClass("tag-active");
        $("#new-expense-comment").val('')
        $("#new-expense-amount").val('')
      },
      cache: true
    });
  }
}

//Routing
$(document).ready(function() {
  if (window.location.hash) {
    if (window.location.hash == '#new') {
      showMonthExpCal(month_id);
      $("#new-expense-modal").find(".modal-dialog").fadeIn();
	  }
    else if (window.location.hash == '#' + month_id) {
      console.log("document"); //sanity check
      showMonthExpCal(month_id);
    }
	}
  else if (!window.location.hash) {
    showMonthExpCal(month_id);
  }
});
$(window).on('hashchange', function() {
  if (window.location.hash) {
    if (window.location.hash == '#new') {
      $("#new-expense-modal").find(".modal-dialog").fadeIn();
	  }
    else if (window.location.hash == '#' + month_id) {
      console.log("window"); //sanity check
      $("#new-expense-modal").find(".modal-dialog").fadeOut();
      showMonthExpCal(month_id);
    }
	}
});

//Month Dropdown Events
$('.dropdown-wrapper').hide();
$('.dropdown-trigger').click(function() {
  $('.dropdown-wrapper').slideToggle();
});

//New Expense Modal Events
$("#new-expense-btn").click(function() {
  $("#new-expense-modal").find(".modal-dialog").fadeIn();
  window.location.hash = 'new';
});
$('.close-modal').click(function() {
  $("#new-expense-modal").find(".modal-dialog").fadeOut();
  month_id = $(".months").find(".month-active").data("month-num");
  showMonthExpCal(month_id);
});

</script>
{% endblock %}
