<div class="new-expense-details">
  <input type="text" placeholder="Expense Title" class="input-container" id="expense-title">
  <input type="text" placeholder="Expense Tag" class="input-container" id="expense-tag">
  <input type="text" placeholder="Expense Comment" class="input-container" id="expense-comment">
  <input type="number" class="input-container" id="expense-amount"></input>
  <button class="expense-submit">Submit</button>
</div>

<script>
function getCookie(name) {
    var cookieValue = null;
    if (document.cookie && document.cookie != '') {
        var cookies = document.cookie.split(';');
        for (var i = 0; i < cookies.length; i++) {
            var cookie = jQuery.trim(cookies[i]);
            // Does this cookie string begin with the name we want?
            if (cookie.substring(0, name.length + 1) == (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
        }
    }
    return cookieValue;
}

function post_new_expense() {
  console.log("new expense working");
  var title = document.getElementById("expense-title").value;
  var tag = document.getElementById("expense-tag").value;
  var comment = document.getElementById("expense-comment").value;
  var amount = document.getElementById("expense-amount").value;
  $.ajax({
    type: "POST",
    url: "{% url 'new_expense' %}",
    data: {title: title, tag: tag, comment: comment, amount: amount},
    dataType: "html",
    headers: { "X-CSRFToken": getCookie("csrftoken") },
    success: function(response) {
    },
    error: function(request, errorType, errorMessage) {
      alert("Error: " + errorType + " with message: " + errorMessage);
    },
    timeout: 3000,
    beforeSend: function(xhr) { xhr.setRequestHeader("X-CSRFToken", getCookie('csrftoken')); },
    complete: function() {},
    cache: true
  });
}

$('.expense-submit').click(function() {
  console.log("E");
  post_new_expense();
});
</script>
