/*
  ========================================
  New Expenses
  ========================================
*/
#new-expense-btn {
  position: absolute;
  margin: 15px;
  color: #1784c7;
  font-size: 22px;
  transform: scale(1);
}
#new-expense-btn:hover {
  transform: scale(1.2);
}
#new-expense-detail {
  padding: 0px 30px;
}
#new-expense-msg {
  padding: 12px;
  text-align: center;
  font-size: 14px;
  border: 1px solid rgba(128, 128, 128, 0.2);
}
#new-expense-title {
  margin: 15px auto;
  font-size: 20px;
}
#new-expense-tag {
  color: #676D76;
}
#new-expense-comment {
  margin-top: 18px;
}
#new-expense-amount {
  width: 60%;
  font-size: 20px;
}
#new-expense-submit {
  margin-left: 38px;
  font-size: 17px;
}
#new-expense-submit:hover {
  cursor: pointer;
  color: #fff;
  background-color: #1784c7;
}
#tags {
  margin-top: 15px;
}
.tag {
  display: inline-block;
  margin: 2px;
  width: 40px;
  height: 40px;
  font-size: 18px;
  background-color: #fff;
  border: 1px solid #eee;
  border-radius: 50%;
}
.tag:hover {
  color: #1784c7;
  border: 1px solid #1784c7;
}
.tag-active {
  color: #fff;
  background-color: #1784c7;
  border: 1px solid #1784c7;
}
.tag-active:hover {
  color: #fff;
}
.tag i {
  padding: 10px;
}
/*
  ========================================
  Month Dropdown
  ========================================
*/
.month-dropdown {
  float: right;
}
.month-dropdown .dropdown-trigger {
  margin: 20px 35px 0 0;
}
.months {
  position: fixed;
  top: 165px;
  right: 140px;
  padding: 15px 25px;
  max-width: 150px;
}
.month {
  font-size: 14px;
  padding: 5px;
  text-align: center;
}
.month:nth-child(odd) {
  margin-right: 5px;
}
.month:hover {
  text-decoration: none;
  background-color: #1784c7;
  color: #ffffff;
  border-radius: 2px;
}
/*
  ========================================
  Today Expense
  ========================================
*/
#today-expense-btn {
  margin: 15px;
}
/*
  ========================================
  Day Expenses
  ========================================
*/
#day-expenses-modal .modal-header {
  border: 1px solid rgba(128, 128, 128, 0.2);
}
#day-expenses-modal .modal-body {
  max-height: 250px;
  overflow-y: scroll;
}
#day-expenses-list > ul > li {
  display: block;
  padding: 2px;
  height: 50px;
  font-size: 14px;
  text-decoration: none;
  color: #fff;
  background-color: #fff;
  border-bottom: 1px solid #EFF0F1;
}
#day-expenses-list > ul > li:hover {
  background-color: #EFF0F1;
}
#day-expenses-list .tag {
  margin: 3px 6px;
  background-color: #fff;
}
#day-expenses-list .tag i {
  color: #676D76;
}
#day-expenses-list .title {
  display: inline-block;
  font-size: 15px;
  color: #676D76;
}
#day-expenses-list .amount {
  float: right;
  display: inline-block;
  margin: 10px 10px;
  font-size: 16px;
  color: #676D76;
}
