  <html>
    <head>
        <title>cedaus</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link href='//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
    </head>
    <body>
        <div>
            <h1><a href="">List of Expenses</a></h1>
            <a href="{% url 'expense_new' %}" class="top-menu"><span class="glyphicon glyphicon-plus"></span></a>
        </div>

        <div>
          {% load custom_filters %}
        </div>

        <div>
          <h2>{{ monthly_expenses.0.month_name }} Total Expense is Rs.{{ monthly_expenses.0.month_total }} for {{ monthly_expenses.0.num_days }} days</h2>
          {% for key in monthly_expenses.0.month_diversify %}
             Total Expenditure on {{ key }} is Rs.{{ monthly_expenses.0.month_diversify|get_item:key }}<br>
          {% endfor %}
        </div>

        <div>
          <h3>Avg per day is Rs.{{ monthly_expenses.0.month_avg }}</h3>
        </div>

        <div>
          <h3>Expenses by date</h3>
          {% for key in monthly_expenses.0.month_daily_expenses %}
             <h4>{{ key }}</h4>
             <p>{{ monthly_expenses.0.month_daily_expenses|get_item:key }}</p>
          {% endfor %}
        </div>

    </body>
</html>
