{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}
  Expenses
{% endblock %}

{% block head %}
{{ block.super }}
<link rel="stylesheet" href="{% static 'expenses_style.css' %}">
<script src="{% static 'expenses_app.js' %}"></script>
{% endblock %}

{% block sections %}
<section id="content">
  <div class="container">
    <div class="card">
      <div class="pm-body clearfix">
        <!-- Navigation Tab -->
        <ul class="tab-nav tn-justified">
          <li class="waves-effect"><a href="{% url 'req_expenses_calendar' %}">Calendar</a></li>
          <li class="active waves-effect"><a>Report</a></li>
        </ul>
        <div class="pmb-block">
          <div class="listview lv-bordered lv-lg">
            <!-- Control Bar -->
            <div class="lv-header-alt clearfix">
              <ul class="lv-actions actions">
                <li><a data-toggle="modal" href="#expense-detail" onclick="addExpense()"><i class="zmdi zmdi-plus-circle"></i></a></li>
              </ul>
              <ul class="lv-actions actions">
                <li><a onclick="addExpense()"><i class="zmdi zmdi-calendar-check"></i></a></li>
              </ul>
              <h2 class="lvh-label hidden-xs pull-right">Year and Month here</h2>
            </div>
            <!-- Expense Report -->
            <div id="expense-report">
              <canvas id="year-expense-chart" width="400" height="100"></canvas>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}

{% block modals %}
<!-- Important Expense Modal -->
<div class="modal fade" id="important-expense" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <!--Need to be built -->
    </div>
  </div>
</div>
<!-- Extra Expense Modal -->
<div class="modal fade" id="extra-expense" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <!--Need to be built -->
    </div>
  </div>
</div>
{% endblock %}

{% block script %}
<script>
var expense_report_html = "{% static 'html/expense-report.html' %}";

$(document).ready(function() {
  var context = {month_total: 2500, tags: [{id: 1, name: "food", icon: "fa fa-cutlery", amount: 500},{id: 1, name: "food", icon: "fa fa-cutlery", amount: 500},{id: 1, name: "food", icon: "fa fa-cutlery", amount: 500},{id: 1, name: "food", icon: "fa fa-cutlery", amount: 500},{id: 1, name: "food", icon: "fa fa-cutlery", amount: 500},{id: 1, name: "food", icon: "fa fa-cutlery", amount: 500},{id: 1, name: "food", icon: "fa fa-cutlery", amount: 500},{id: 1, name: "food", icon: "fa fa-cutlery", amount: 500},{id: 1, name: "food", icon: "fa fa-cutlery", amount: 500},{id: 1, name: "food", icon: "fa fa-cutlery", amount: 500},{id: 1, name: "food", icon: "fa fa-cutlery", amount: 500},{id: 1, name: "food", icon: "fa fa-cutlery", amount: 500}]};
  $("#expense-report").html(renderTemplate(expense_report_html, context));
  loadTagExpenseChart();
  loadMonthExpenseChart();
  loadYearExpenseChart();
});

</script>

<script>

function loadTagExpenseChart() {
  var ctx = document.getElementById("tag-expense-chart");
  var myChart = new Chart(ctx, {
      type: 'doughnut',
      data: {
          labels: ["Food", "Travel", "Phone", "House Utility", "Health", "Education", "Entertainment", "Laundry", "Salon", "Shopping", "House", "Other"],
          datasets: [{
              label: 'Day Total',
              data: [10, 2, 1, 5, 2, 3, 5, 9, 15, 11, 4, 7],
              backgroundColor: ["#FF6384","#36A2EB","#C34A4F","#FFCE56","#8bc34a","#4BC0C0","#C34A8B","#C3Bf4A","#266B23","#50236B","#C3834A","#6B6223"],
              borderWidth: 1
          }]
      }
  });
}

function loadMonthExpenseChart() {
  var ctx = document.getElementById("month-expense-chart");
  var myChart = new Chart(ctx, {
      type: 'line',
      data: {
          labels: ["1", "2", "3", "4", "5", "6", "7", "8", "9", "10"],
          datasets: [{
              label: 'Day Total',
              data: [500, 19, 300, 5, 2, 3],
              backgroundColor: 'rgba(139, 195, 74, 0.7)',
              borderWidth: 1
          }]
      },
      options: {
          scales: {
              yAxes: [{
                  ticks: {
                      beginAtZero:true
                  }
              }]
          }
      }
  });
}

function loadYearExpenseChart() {
  var ctx = document.getElementById("year-expense-chart");
  var myChart = new Chart(ctx, {
      type: 'bar',
      data: {
          labels: ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"],
          datasets: [{
              label: 'Month Total',
              data: [500, 300, 3, 5, 2, 3, 500, 250, 120, 780, 460, 230],
              backgroundColor: 'rgba(48, 100, 145, 0.6)',
              borderColor: 'rgba(48, 100, 145, 1)',
              borderWidth: 1
          }]
      },
      options: {
          scales: {
              yAxes: [{
                  ticks: {
                      beginAtZero:true
                  }
              }]
          }
      }
  });
}
</script>
{% endblock %}
