{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}
  Expenses
{% endblock %}

{% block head %}
{{ block.super }}
<link rel="stylesheet" href="{% static 'expenses_style.css' %}">
<script src="{% static 'expenses_app.js' %}"></script>
{% endblock %}

{% block sections %}
<section id="content">
  <div class="container">
    <div class="card">
      <div class="pm-body clearfix">
        <!-- Navigation Tab -->
        <ul class="tab-nav tn-justified">
          <li class="waves-effect"><a href="{% url 'req_expenses_calendar' %}">Calendar</a></li>
          <li class="active waves-effect"><a>Report</a></li>
        </ul>
        <div class="pmb-block">
          <div class="listview lv-bordered lv-lg">
            <!-- Control Bar -->
            <div class="lv-header-alt clearfix">
              <ul class="lv-actions actions">
                <li><a data-toggle="modal" href="#expense-detail" onclick="addExpense()"><i class="zmdi zmdi-plus-circle"></i></a></li>
              </ul>
              <ul class="lv-actions actions">
                <li><a onclick="addExpense()"><i class="zmdi zmdi-calendar-check"></i></a></li>
              </ul>
              <h2 class="lvh-label hidden-xs pull-right">Year and Month here</h2>
            </div>
            <!-- Expense Report -->
            <div id="expense-report">
              <canvas id="year-expense-chart" width="400" height="100"></canvas>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}

{% block modals %}
<!-- Important Expense Modal -->
<div class="modal fade" id="important-expense" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <!--Need to be built -->
    </div>
  </div>
</div>
<!-- Extra Expense Modal -->
<div class="modal fade" id="extra-expense" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <!--Need to be built -->
    </div>
  </div>
</div>
{% endblock %}

{% block script %}
<script>
var today = {year: Number(moment().format('YYYY')), month: Number(moment().format('M')), day: Number(moment().format('D')), date: moment().format('YYYY-MM-DD')};
var calendar = {year: today.year, month: today.month, day: today.day};

var month_total, month_avg, month_important, month_extra, month_tags, month_daily_data, year_monthly_total;

var expense_report_html = "{% static 'html/expense-report.html' %}";

$(document).ready(function() {
  getExpenseReport(today.year, today.month);
});

function loadReport(context) {
  $("#expense-report").html(renderTemplate(expense_report_html, context));
}

function loadTagExpenseChart() {
  var labels = [];
  var data = [];
  for (var i = 0; i < month_tags.length; i++) {
    labels.push(month_tags[i].name);
    data.push(month_tags[i].total)
  }
  var ctx = document.getElementById("tag-expense-chart");
  var myChart = new Chart(ctx, {
      type: 'doughnut',
      data: {
          labels: labels,
          datasets: [{
              label: 'Day Total',
              data: data,
              backgroundColor: ["#FF6384","#36A2EB","#C34A4F","#FFCE56","#8bc34a","#4BC0C0","#C34A8B","#C3Bf4A","#266B23","#50236B","#C3834A","#6B6223"],
              borderWidth: 1
          }]
      }
  });
}

function loadMonthExpenseChart() {
  var labels = [];
  var data = [];
  for (var i = 0; i < month_daily_data.length; i++) {
    labels.push(String(i+1));
    data.push(month_daily_data[i].total)
  }
  var ctx = document.getElementById("month-expense-chart");
  var myChart = new Chart(ctx, {
      type: 'line',
      data: {
          labels: labels,
          datasets: [{
              label: 'Day Total',
              data: data,
              backgroundColor: 'rgba(139, 195, 74, 0.7)',
              borderWidth: 1
          }]
      },
      options: {
          scales: {
              yAxes: [{
                  ticks: {
                      beginAtZero:true
                  }
              }]
          }
      }
  });
}

function loadYearExpenseChart() {
  var data = year_monthly_total;
  var ctx = document.getElementById("year-expense-chart");
  var myChart = new Chart(ctx, {
      type: 'bar',
      data: {
          labels: ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"],
          datasets: [{
              label: 'Month Total',
              data: data,
              backgroundColor: 'rgba(48, 100, 145, 0.6)',
              borderColor: 'rgba(48, 100, 145, 1)',
              borderWidth: 1
          }]
      },
      options: {
          scales: {
              yAxes: [{
                  ticks: {
                      beginAtZero:true
                  }
              }]
          }
      }
  });
}

function getExpenseReport(year, month) {
  var data = {"year": year, "month": month};
  $.ajax({
    type: "GET",
    url: "{% url 'expense_report' %}",
    data: data,
    dataType: "json",
    success: function(response) {
      month_total = response.month_total;
      month_avg = response.month_avg;
      month_important = response.month_important;
      month_extra = response.month_extra;
      month_tags = response.month_tags;
      month_daily_data = response.month_daily_data;
      year_monthly_total = response.year_monthly_total;
      loadReport(response);
    },
    error: function(request, errorType, errorMessage) {
      alert("Error: " + errorType + " with message: " + errorMessage);
    },
    beforeSend: function(xhr) { xhr.setRequestHeader("X-CSRFToken", "{{ csrf_token }}"); },
    complete: function(data) {
      loadTagExpenseChart();
      loadMonthExpenseChart();
      loadYearExpenseChart();
    },
    cache: true
  });
}

function showYearMonthExpense() {
  calendar.year = 2017;
  calendar.month = 2;
  getExpenseReport(calendar.year, calendar.month);
}

</script>
{% endblock %}
